# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- Popular languages in Data Scientists
- The commonly used libraries used by Data Scientists
- Data Science Tools
- Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlip
3. TensorFlow

Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Lab        |
| Apache Spark       |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python


result = 5 + 3  *Addition*

print(result)  *Output: 8*

result = 12 - 7   *Subtraction*

print(result)   *Output: 5*

result = 4 * 6   *Multiplication*

print(result)   *Output: 24*

In [3]:
(3*4)+5 # This is a simple arithmetic expression to mutiply then add integers in Python

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200

hours = minutes / 60

print(round(hours , 2))

3.33

## Author
Marco Alessandro Contreras Solis